.hidesuggestion
{
	display: none !important;
}
.showSuggestionList
{
	position: absolute;
	z-index: 1000;
	border: 1px solid #ddd;
	width: 200px;
	box-shadow: 0px 0px 5px #E1E1E1;
	font-size: 13px;
	max-height: 190px;
	overflow-y: scroll;
	top: 300px;
	left: 575px;
	z-index: 100000;
	color: #000;
}
.showSuggestionListItem
{
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
}
.showSuggestionListItemActive
{
	background-color: #50a8d1;
	color: #fff;
}
.showHighSuggestionList
{
	font-weight: bold;
}